.contact {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__content {
    display: flex;
    border: 10px solid white;
}

.contact__send {
    box-shadow: 0 0 0px 5px white;
    background: white;
}

.contact__info {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.p-4 {
    padding: 1.5rem;
}