.education__title {
    position: center;
    text-align: center;
}

.education__list {
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.education__block {
    border: 5px solid white;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    position: relative;
    box-shadow: 0 0 5px white;
}
