.info {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__name {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.info__stack {
    text-shadow: blue;
    font-size: 24px;
}

.info__city {
    text-shadow: red;
}

.info__image {
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0px 0px 20px rgb(0 0 0);
}